* {
  padding: 0;
  margin: 0;
}
* body {
  box-sizing: border-box;
}
* a {
  text-decoration: none;
  color: black;
}
* h2, * h3, * h4, * h5, * h6, * p {
  font-family: "Roboto", sans-serif;
}

header {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  width: 100%;
  padding: 20px 0 20px 0;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
header .logo img {
  max-width: 200px;
}
header .logo i {
  font-size: 20px;
  position: absolute;
  top: 25%;
  left: 10%;
}

footer {
  background-color: #353535;
  color: #FFF;
  display: flex;
  flex-direction: column;
  padding: 20px 0px 20px 0;
}
footer h3 {
  margin: 0 0 10px 20px;
  color: #e6e6e6;
  font-weight: 400;
}
footer h3 i {
  padding-right: 10px;
}
footer h3 span i {
  font-size: 12px;
}
footer a:hover {
  text-decoration: underline;
  color: #FFF;
}
footer .footer__logo {
  font-family: "Shrikhand";
  font-size: 20px;
  margin-bottom: 15px;
}

/* search */
.search {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  padding: 20px 0;
  font-weight: bold;
  width: 100%;
}
.search i {
  padding-right: 15px;
}
.search input {
  background-color: #eaeaea;
  border: none;
  width: 120px;
}
.search input:focus {
  outline: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.search ::-moz-placeholder {
  color: black;
  font-weight: bold;
  font-size: 16px;
}
.search :-ms-input-placeholder {
  color: black;
  font-weight: bold;
  font-size: 16px;
}
.search ::placeholder {
  color: black;
  font-weight: bold;
  font-size: 16px;
}

/* proffer */
.proffer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f6f6f6;
  padding: 40px 40px;
  margin-bottom: 50px;
}
.proffer .proffer__menu {
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 25px;
}
.proffer .proffer__restaurants {
  padding-bottom: 15px;
}
.proffer .proffer__explore {
  border-radius: 30px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  font-weight: 400;
  font-size: 15px;
  color: #FFF;
  padding: 14px 24px;
  margin: auto;
  box-shadow: 4px 4px 6px #aaa;
}
.proffer .proffer__explore:hover {
  box-shadow: 4px 4px 6px rgb(61, 60, 60);
  opacity: 0.9;
}

/* how*/
.how__title {
  margin: 0 0 20px 22px;
}

.how {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: bold;
  font-size: 15px;
  padding: 0 15px;
}
.how h2 {
  margin: 0 0 30px 0;
}
.how i {
  padding-right: 16px;
}
.how .how__box {
  margin: 0 20px 20px 40px;
  padding: 30px 50px 30px 18px;
  border-radius: 20px;
  width: 300px;
  font-weight: bold;
  background-color: #F6F6F6;
  text-align: center;
  position: relative;
  font-family: "Roboto", sans-serif;
  transition: 0.2s;
}
.how .how__box:hover {
  background-color: #f5edff;
}
.how .how__box:hover i {
  color: #9356DC;
}
.how .how__box__number {
  width: 18px;
  height: 18px;
  padding: 4px 4px;
  border-radius: 50%;
  background-color: #9356DC;
  color: #FFF;
  position: absolute;
  top: 30%;
  left: -4%;
}

/* restaurants */
.restaurant__main {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
}
.restaurant__main .restaurant__title h2 {
  padding: 30px 0px 0px 20px;
}
.restaurant__main .restaurant__card {
  border-radius: 25px;
  box-shadow: 4px 4px 6px #aaa;
  margin: 20px;
  position: relative;
  background: #fff;
}
.restaurant__main .card__btn {
  font-family: "Roboto", sans-serif;
  padding: 5px 10px;
  background-color: #99E2D0;
  color: #1b6150;
  border-radius: 4px;
  position: absolute;
  top: 10%;
  right: 7%;
}
.restaurant__main .restaurant__card img {
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  height: 100%;
  max-height: 250px;
}
.restaurant__main .restaurant__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px 0 10px;
}
.restaurant__main .restaurant__name h4 {
  font-size: 20px;
}
.restaurant__main p {
  padding: 0 0 15px 10px;
}

/* restaurants pages*/
.picture__restaurant img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 300px;
  position: relative;
}

main {
  position: absolute;
  top: 300px;
  width: 100%;
}

.menu {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  background: #F6F6F6;
  padding-top: 20px;
}
.menu .menu__title {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 10px 10px;
}
.menu .menu__title h2 {
  font-family: "Shrikhand";
  font-size: 30px;
}
.menu strong {
  font-family: "Roboto", sans-serif;
}

/* starters*/
.starter {
  padding: 20px 15px 0 15px;
}
.starter .starter__title {
  text-transform: uppercase;
  padding-bottom: 10px;
}
.starter .delimiter {
  height: 3px;
  width: 50px;
  background-color: #99E2D0;
  margin-top: 6px;
}
.starter .meals {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 4px 4px 6px #aaa;
  margin-bottom: 15px;
  padding: 15px 0 0 10px;
  font-size: 20px;
}
.starter .meals__infos {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 15px 0;
  font-size: 15px;
}

/* dishies*/
.dish {
  padding: 20px 15px 0 15px;
}
.dish .dish__title {
  text-transform: uppercase;
  padding-bottom: 10px;
}
.dish .delimiter {
  height: 3px;
  width: 50px;
  background-color: #99E2D0;
  margin-top: 6px;
}
.dish .meals {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 4px 4px 6px #aaa;
  margin-bottom: 15px;
  padding: 15px 0 0 10px;
  font-size: 20px;
}
.dish .meals__infos {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 15px 0;
  font-size: 15px;
}

/* desserts*/
.dessert {
  padding: 20px 15px 15px 15px;
}
.dessert .dessert__title {
  text-transform: uppercase;
  padding-bottom: 10px;
}
.dessert .delimiter {
  height: 3px;
  width: 50px;
  background-color: #99E2D0;
  margin-top: 6px;
}
.dessert .meals {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 4px 4px 6px #aaa;
  margin-bottom: 15px;
  padding: 15px 0 0 10px;
  font-size: 20px;
}
.dessert .meals__infos {
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 15px 0;
  font-size: 15px;
}

/* order boutton*/
.order {
  display: flex;
  justify-content: center;
  background: #F6F6F6;
}

.menu__order {
  text-align: center;
  border-radius: 30px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #FFF;
  padding: 15px 35px;
  margin: 30px 0 35px 0;
  box-shadow: 4px 4px 6px #aaa;
}
.menu__order:hover {
  box-shadow: 4px 4px 6px rgb(61, 60, 60);
  opacity: 0.9;
}

/* animation heart*/
@-webkit-keyframes heart {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes heart {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.fill:hover {
  -webkit-animation: heart 300ms ease-in-out;
          animation: heart 300ms ease-in-out;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

/* animation menu resto*/
@-webkit-keyframes meals {
  0% {
    transform: scaleX(0) scaleY(0);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
@keyframes meals {
  0% {
    transform: scaleX(0) scaleY(0);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
.starter .meals {
  -webkit-animation: meals 2000ms;
          animation: meals 2000ms;
}

.dish .meals {
  -webkit-animation: meals 4000ms;
          animation: meals 4000ms;
}

.dessert .meals {
  -webkit-animation: meals 6000ms;
          animation: meals 6000ms;
}

/* animation loader*/
@-webkit-keyframes loader-position {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes loader-position {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
.loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  cursor: wait;
  position: fixed;
  z-index: 100;
  -webkit-animation: loader-position 1s linear 3s forwards;
          animation: loader-position 1s linear 3s forwards;
}
.loader__letters {
  font-size: 65px;
  font-family: "Shrikhand";
  -webkit-animation: loader 3s infinite;
          animation: loader 3s infinite;
}

/* animation meals */
.meals {
  position: relative;
  overflow: hidden;
  transition: padding-right 500ms ease-in-out;
}
.meals .check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 35px;
  height: 63px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  position: absolute;
  padding: 10px;
  right: -50px;
  top: 0;
  opacity: 0;
  transition: transform 500ms ease-in-out;
}
.meals .meals__infos p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 15px;
}
.meals i {
  color: white;
  font-size: 30px;
}
.meals span {
  font-size: 15px;
}
.meals h4 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 17px;
}
.meals:hover .check {
  opacity: 1;
  transform: translate(-50px);
}
.meals:hover {
  padding-right: 50px;
}
.meals:hover i {
  transform: rotate(360deg);
  transition: transform 1000ms;
}/*# sourceMappingURL=main.css.map */