* {
    padding: 0;
    margin: 0;
    
    body {
        box-sizing: border-box;
    }

        a {
        text-decoration: none;
        color: black;
    }
    
            h2, h3, h4, h5, h6, p {
            font-family: 'Roboto', sans-serif;
        }

}






