footer {
    background-color: #353535;
    color: #FFF;
    display: flex;
    flex-direction: column;
    padding: 20px 0px 20px 0;


        h3 {
            margin: 0 0 10px 20px;
            color: #e6e6e6;
            font-weight: 400;
        }

            h3 i {
                padding-right: 10px;
            }

                h3 span i {
                    font-size: 12px;
                }
    
                    a:hover {
                        text-decoration: underline;
                        color: #FFF;
                    }

                        .footer__logo {
                            font-family: 'Shrikhand';
                            font-size: 20px;
                            margin-bottom: 15px;
                        }
}